body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

input {
    padding: 10px;
    width: 300px;
    margin-top: 20px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#old-results, #results, #department-details, #employee-details {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}